.left-sidebar{
    width: 18vw;
    box-shadow: 4px 1px 0 rgb(165, 121, 0);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 18px;
    position: fixed;
    z-index: 1px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    background-color: #7e00a0;
}

.left-sidebar-heading{
    align-self: left;
    padding-left: 1vw;
    margin-bottom: 10%;
    position: sticky;
    color: rgb(255, 217, 0)
}

.side-nav{
    height: auto;
    max-width: 100%;
}

.side-nav-links{
    text-decoration: none;
    width: 80%;
    border-radius: 20px;
    color: #3a3a3a;
    display:flex;
    padding: 2%;
    justify-content: center;
    margin-top: 4%;
    margin-left: 8%;
    transition: 0.2s;   
    position: sticky; 
    background-color: rgb(255, 207, 73) ;
}

.side-nav-links:hover{
    color:#8e00b5;
    background-color: rgb(228, 167, 0) ;
}

.active{
    font-weight: bolder;
    color: #8e00b5;
    background-color: rgb(228, 167, 0);
    border-right: solid 5px rgb(172, 118, 0);
}