.left-sidebar{
    width: 18vw;
    box-shadow: 4px 1px 0 rgb(224, 212, 47);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 18px;
    position: fixed;
    z-index: 1px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    background-color:rgb(39, 161, 255) ;
}

.left-sidebar-heading{
    align-self: left;
    padding-left: 1vw;
    margin-bottom: 10%;
    position: sticky;
    color:#0013a0
}

.side-nav{
    height: auto;
    max-width: 100%;
}

.side-nav-links{
    text-decoration: none;
    width: 80%;
    border-radius: 20px;
    color: rgb(165, 121, 0);
    display:flex;
    padding: 2%;
    justify-content: center;
    margin-top: 4%;
    margin-left: 8%;
    transition: 0.2s;   
    position: sticky; 
    background-color: #0d00a0 ;
}

.side-nav-links:hover{
    color:#0004fd;
    background-color: rgb(83, 198, 255) ;
}

.active{
    font-weight: bolder;
    color: rgb(179, 152, 3);
    background-color: #09008a;
    border-right: solid 5px rgb(0, 21, 209);
}