.outer-box{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(60, 235, 255);
    gap: 3%;
}

.card-obj{
    width: 45rem;
    height: 15rem;
    object-fit: cover;
}
