.profile-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 5% auto;
  padding: 30px;
  background-color: #F2E9F4;
  color: #2E4057;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #6B5B95;
  align-self: center;
}

.subheading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #6B5B95;
}

hr {
  height: 1px;
  background-color: #A8A8A8;
  border: none;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-label {
  font-size: 14px;
  color: #A8A8A8;
  text-transform: uppercase;
}

.info-value {
  font-size: 16px;
  color: #2E4057;
}

.question-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.question-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.question-number {
  font-size: 14px;
  font-weight: bold;
  color: #6B5B95;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F4D35E;
}

.question-answer {
  font-size: 16px;
  color: #2E4057;
}
.profileimage {
  height: 40%;
  width: 40%;
  align-self: center;
}